@import url("../assets/reset.css");

* {
  /* border: 1px solid black; */
  box-sizing: border-box
}

.container {
  padding: 0 336px;
  margin-right: auto;
  margin-left: auto;
}

/* display */

.flex {
  display: flex;
}

.block {
  display: block
}

/* display-flex */

.flex-column {
  display: flex;
  flex-direction: column;
}

/* margin-bottom */

.mr-b-40 {
  margin-bottom: 40px
}

.mr-b-8 {
  margin-bottom: 8px;
}
